<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login Page</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>

  <%- include("../components/navbar.ejs") %>

  <!-- Register Form -->
  <div class="container">
    <form class="form-box" method="post" action="/login">
      <h2>Login</h2>
      <p style="color: red;"><%-error%></p>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit" class="register-btn">login</button>
   
   <a href="/forgotPassword">Forgot password</a>
   </form>
  </div>

</body>
</html>
